@keyframes topdown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(2rem);
    opacity: 0;
  }
}

@keyframes downtop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes rightleft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(3rem);
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}